<!DOCTYPE html>
<html>
    <head>
        <title>{{ title or 'sojourn' }}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
       {% block body %}
       {% endblock %}  
    </body>
</html>