{% extends 'base/baseLayout.jinja2' %}
{% block head %}
    <link href="/resource/compiled/client-monolith.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/resource/compiled/client-monolith.js"></script>
{% endblock %}